<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinterest_clone</title>
</head>
<body>
            
    <h1> create pin</h1>
    {{form_start(monForm)}} {# *** #}
        {{form_widget(monForm)}} {# *** #}
        <input type="submit" value="Create Pin">
    {{form_end(monForm)}} {# *** #}
    

    {# <form action="">
        <input type="text" autofocus>
        <textarea name="" id="" cols="30" rows="10">
        
        </textarea>
    </form> #}
    
    <p> Truc banal pour git 3</p>


</body>
</html>

